.b-m-auto {
  margin: auto;
}

.b-m-0 {
  margin: 0;
}

.b-m-1 {
  margin: 1px;
}

.b-m-2 {
  margin: 2px;
}

.b-m-bottom {
  margin: 3px;
}

.b-m-4 {
  margin: 4px;
}

.b-m-5 {
  margin: 5px;
}

.b-m-10 {
  margin: 10px;
}

.b-m-15 {
  margin: 15px;
}

.b-m-20 {
  margin: 20px;
}

.b-m-25 {
  margin: 25px;
}

.b-m-50 {
  margin: 50px;
}

.b-m-75 {
  margin: 75px;
}

.b-m-100 {
  margin: 100px;
}

.b-mt-auto {
  margin-top: auto;
}

.b-mt-0 {
  margin-top: 0;
}

.b-mt-1 {
  margin-top: 1px;
}

.b-mt-2 {
  margin-top: 2px;
}

.b-mt-3 {
  margin-top: 3px;
}

.b-mt-4 {
  margin-top: 4px;
}

.b-mt-5 {
  margin-top: 5px;
}

.b-mt-10 {
  margin-top: 10px;
}

.b-mt-15 {
  margin-top: 15px;
}

.b-mt-20 {
  margin-top: 20px;
}

.b-mt-25 {
  margin-top: 25px;
}

.b-mt-50 {
  margin-top: 50px;
}

.b-mt-75 {
  margin-top: 75px;
}

.b-mt-100 {
  margin-top: 100px;
}

.b-mb-auto {
  margin-bottom: auto;
}

.b-mb-0 {
  margin-bottom: 0;
}

.b-mb-1 {
  margin-bottom: 1px;
}

.b-mb-2 {
  margin-bottom: 2px;
}

.b-mb-3 {
  margin-bottom: 3px;
}

.b-mb-4 {
  margin-bottom: 4px;
}

.b-mb-5 {
  margin-bottom: 5px;
}

.b-mb-10 {
  margin-bottom: 10px;
}

.b-mb-15 {
  margin-bottom: 15px;
}

.b-mb-20 {
  margin-bottom: 20px;
}

.b-mb-25 {
  margin-bottom: 25px;
}

.b-mb-50 {
  margin-bottom: 50px;
}

.b-mb-75 {
  margin-bottom: 75px;
}

.b-mb-100 {
  margin-bottom: 100px;
}

.b-mr-auto {
  margin-right: auto;
}

.b-mr-0 {
  margin-right: 0;
}

.b-mr-1 {
  margin-right: 1px;
}

.b-mr-2 {
  margin-right: 2px;
}

.b-mr-3 {
  margin-right: 3px;
}

.b-mr-4 {
  margin-right: 4px;
}

.b-mr-5 {
  margin-right: 5px;
}

.b-mr-10 {
  margin-right: 10px;
}

.b-mr-15 {
  margin-right: 15px;
}

.b-mr-20 {
  margin-right: 20px;
}

.b-mr-25 {
  margin-right: 25px;
}

.b-mr-50 {
  margin-right: 50px;
}

.b-mr-75 {
  margin-right: 75px;
}

.b-mr-100 {
  margin-right: 100px;
}

.b-ml-auto {
  margin-left: auto;
}

.b-ml-0 {
  margin-left: 0;
}

.b-ml-1 {
  margin-left: 1px;
}

.b-ml-2 {
  margin-left: 2px;
}

.b-ml-3 {
  margin-left: 3px;
}

.b-ml-4 {
  margin-left: 4px;
}

.b-ml-5 {
  margin-left: 5px;
}

.b-ml-10 {
  margin-left: 10px;
}

.b-ml-15 {
  margin-left: 15px;
}

.b-ml-20 {
  margin-left: 20px;
}

.b-ml-25 {
  margin-left: 25px;
}

.b-ml-50 {
  margin-left: 50px;
}

.b-ml-75 {
  margin-left: 75px;
}

.b-ml-100 {
  margin-left: 100px;
}

.b-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.b-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.b-mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.b-mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.b-mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.b-mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.b-mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.b-mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.b-mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.b-mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.b-mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.b-mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.b-mx-75 {
  margin-left: 75px;
  margin-right: 75px;
}

.b-mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.b-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.b-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.b-my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.b-my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.b-my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.b-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.b-my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.b-my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.b-my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.b-my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.b-my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.b-my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.b-my-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.b-my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

