.b-p-0 {
  padding: 0;
}

.b-p-1 {
  padding: 1px;
}

.b-p-2 {
  padding: 2px;
}

.b-p-3 {
  padding: 3px;
}

.b-p-4 {
  padding: 4px;
}

.b-p-5 {
  padding: 5px;
}

.b-p-10 {
  padding: 10px;
}

.b-p-15 {
  padding: 15px;
}

.b-p-20 {
  padding: 20px;
}

.b-p-25 {
  padding: 25px;
}

.b-p-50 {
  padding: 50px;
}

.b-p-75 {
  padding: 75px;
}

.b-p-100 {
  padding: 100px;
}


.b-pt-0 {
  padding-top: 0;
}

.b-pt-1 {
  padding-top: 1px;
}

.b-pt-2 {
  padding-top: 2px;
}

.b-pt-3 {
  padding-top: 3px;
}

.b-pt-4 {
  padding-top: 4px;
}

.b-pt-5 {
  padding-top: 5px;
}

.b-pt-10 {
  padding-top: 10px;
}

.b-pt-15 {
  padding-top: 15px;
}

.b-pt-20 {
  padding-top: 20px;
}

.b-pt-25 {
  padding-top: 25px;
}

.b-pt-50 {
  padding-top: 50px;
}

.b-pt-75 {
  padding-top: 75px;
}

.b-pt-100 {
  padding-top: 100px;
}

.b-pb-0 {
  padding-bottom: 0;
}

.b-pb-1 {
  padding-bottom: 1px;
}

.b-pb-2 {
  padding-bottom: 2px;
}

.b-pb-3 {
  padding-bottom: 3px;
}

.b-pb-4 {
  padding-bottom: 4px;
}

.b-pb-5 {
  padding-bottom: 5px;
}

.b-pb-10 {
  padding-bottom: 10px;
}

.b-pb-15 {
  padding-bottom: 15px;
}

.b-pb-20 {
  padding-bottom: 20px;
}

.b-pb-25 {
  padding-bottom: 25px;
}

.b-pb-50 {
  padding-bottom: 50px;
}

.b-pb-75 {
  padding-bottom: 75px;
}

.b-pb-100 {
  padding-bottom: 100px;
}

.b-pl-0 {
  padding-left: 0;
}

.b-pl-1 {
  padding-left: 1px;
}

.b-pl-2 {
  padding-left: 2px;
}

.b-pl-3 {
  padding-left: 3px;
}

.b-pl-4 {
  padding-left: 4px;
}

.b-pl-5 {
  padding-left: 5px;
}

.b-pl-10 {
  padding-left: 10px;
}

.b-pl-15 {
  padding-left: 15px;
}

.b-pl-20 {
  padding-left: 20px;
}

.b-pl-25 {
  padding-left: 25px;
}

.b-pl-50 {
  padding-left: 50px;
}

.b-pl-75 {
  padding-left: 75px;
}

.b-pl-100 {
  padding-left: 100px;
}

.b-pr-0 {
  padding-right: 0;
}

.b-pr-1 {
  padding-right: 1px;
}

.b-pr-2 {
  padding-right: 2px;
}

.b-pr-3 {
  padding-right: 3px;
}

.b-pr-4 {
  padding-right: 4px;
}

.b-pr-5 {
  padding-right: 5px;
}

.b-pr-10 {
  padding-right: 10px;
}

.b-pr-15 {
  padding-right: 15px;
}

.b-pr-20 {
  padding-right: 20px;
}

.b-pr-25 {
  padding-right: 25px;
}

.b-pr-50 {
  padding-right: 50px;
}

.b-pr-75 {
  padding-right: 75px;
}

.b-pr-100 {
  padding-right: 100px;
}

.b-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.b-px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.b-px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.b-px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.b-px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.b-px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.b-px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.b-px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.b-px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.b-px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.b-px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.b-px-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.b-px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.b-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.b-py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.b-py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.b-py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.b-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.b-py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.b-py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.b-py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.b-py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.b-py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.b-py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.b-py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}