.b-w-auto {
  width: auto;
}

.b-w-10 {
  width: 10%;
}

.b-w-25 {
  width: 25%;
}

.b-w-50 {
  width: 50%;
}

.b-w-75 {
  width: 75%;
}

.b-w-100 {
  width: 100%;
}

.b-h-auto {
  height: auto;
}

.b-h-10 {
  height: 10%;
}

.b-h-25 {
  height: 25%;
}

.b-h-50 {
  height: 50%;
}

.b-h-75 {
  height: 75%;
}

.b-h-100 {
  height: 100%;
}

.b-sz-auto {
  width: auto;
  height: auto;
}

.b-sz-10 {
  width: 10%;
  height: 10%;
}

.b-sz-25 {
  width: 25%;
  height: 25%;
}

.b-sz-50 {
  width: 50%;
  height: 50%;
}

.b-sz-75 {
  width: 75%;
  height: 75%;
}

.b-sz-100 {
  width: 100%;
  height: 100%;
}

.b-mxw-10 {
  max-width: 10%;
}

.b-mxw-25 {
  max-width: 25%;
}

.b-mxw-50 {
  max-width: 50%;
}

.b-mxw-75 {
  max-width: 75%;
}

.b-mxw-100 {
  max-width: 100%;
}

.b-mxh-10 {
  max-height: 10%;
}

.b-mxh-25 {
  max-height: 25%;
}

.b-mxh-50 {
  max-height: 50%;
}

.b-mxh-75 {
  max-height: 75%;
}

.b-mxh-100 {
  max-height: 100%;
}

.b-mnw-10 {
  min-width: 10%;
}

.b-mnw-25 {
  min-width: 25%;
}

.b-mnw-50 {
  min-width: 50%;
}

.b-mnw-75 {
  min-width: 75%;
}

.b-mnw-100 {
  min-width: 100%;
}

.b-mnh-10 {
  min-height: 10%;
}

.b-mnh-25 {
  min-height: 25%;
}

.b-mnh-50 {
  min-height: 50%;
}

.b-mnh-75 {
  min-height: 75%;
}

.b-mnh-100 {
  min-height: 100%;
}