.b-m-auto {
  margin: auto;
}

.b-m-0 {
  margin: 0;
}

.b-m-1 {
  margin: 1px;
}

.b-m-2 {
  margin: 2px;
}

.b-m-3 {
  margin: 3px;
}

.b-m-4 {
  margin: 4px;
}

.b-m-5 {
  margin: 5px;
}

.b-m-10 {
  margin: 10px;
}

.b-m-15 {
  margin: 15px;
}

.b-m-20 {
  margin: 20px;
}

.b-m-25 {
  margin: 25px;
}

.b-m-50 {
  margin: 50px;
}

.b-m-75 {
  margin: 75px;
}

.b-m-100 {
  margin: 100px;
}

.b-mt-auto {
  margin-top: auto;
}

.b-mt-0 {
  margin-top: 0;
}

.b-mt-1 {
  margin-top: 1px;
}

.b-mt-2 {
  margin-top: 2px;
}

.b-mt-3 {
  margin-top: 3px;
}

.b-mt-4 {
  margin-top: 4px;
}

.b-mt-5 {
  margin-top: 5px;
}

.b-mt-10 {
  margin-top: 10px;
}

.b-mt-15 {
  margin-top: 15px;
}

.b-mt-20 {
  margin-top: 20px;
}

.b-mt-25 {
  margin-top: 25px;
}

.b-mt-50 {
  margin-top: 50px;
}

.b-mt-75 {
  margin-top: 75px;
}

.b-mt-100 {
  margin-top: 100px;
}

.b-mb-auto {
  margin-bottom: auto;
}

.b-mb-0 {
  margin-bottom: 0;
}

.b-mb-1 {
  margin-bottom: 1px;
}

.b-mb-2 {
  margin-bottom: 2px;
}

.b-mb-3 {
  margin-bottom: 3px;
}

.b-mb-4 {
  margin-bottom: 4px;
}

.b-mb-5 {
  margin-bottom: 5px;
}

.b-mb-10 {
  margin-bottom: 10px;
}

.b-mb-15 {
  margin-bottom: 15px;
}

.b-mb-20 {
  margin-bottom: 20px;
}

.b-mb-25 {
  margin-bottom: 25px;
}

.b-mb-50 {
  margin-bottom: 50px;
}

.b-mb-75 {
  margin-bottom: 75px;
}

.b-mb-100 {
  margin-bottom: 100px;
}

.b-mr-auto {
  margin-right: auto;
}

.b-mr-0 {
  margin-right: 0;
}

.b-mr-1 {
  margin-right: 1px;
}

.b-mr-2 {
  margin-right: 2px;
}

.b-mr-3 {
  margin-right: 3px;
}

.b-mr-4 {
  margin-right: 4px;
}

.b-mr-5 {
  margin-right: 5px;
}

.b-mr-10 {
  margin-right: 10px;
}

.b-mr-15 {
  margin-right: 15px;
}

.b-mr-20 {
  margin-right: 20px;
}

.b-mr-25 {
  margin-right: 25px;
}

.b-mr-50 {
  margin-right: 50px;
}

.b-mr-75 {
  margin-right: 75px;
}

.b-mr-100 {
  margin-right: 100px;
}

.b-ml-auto {
  margin-left: auto;
}

.b-ml-0 {
  margin-left: 0;
}

.b-ml-1 {
  margin-left: 1px;
}

.b-ml-2 {
  margin-left: 2px;
}

.b-ml-3 {
  margin-left: 3px;
}

.b-ml-4 {
  margin-left: 4px;
}

.b-ml-5 {
  margin-left: 5px;
}

.b-ml-10 {
  margin-left: 10px;
}

.b-ml-15 {
  margin-left: 15px;
}

.b-ml-20 {
  margin-left: 20px;
}

.b-ml-25 {
  margin-left: 25px;
}

.b-ml-50 {
  margin-left: 50px;
}

.b-ml-75 {
  margin-left: 75px;
}

.b-ml-100 {
  margin-left: 100px;
}

.b-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.b-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.b-mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.b-mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.b-mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.b-mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.b-mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.b-mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.b-mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.b-mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.b-mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.b-mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.b-mx-75 {
  margin-left: 75px;
  margin-right: 75px;
}

.b-mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.b-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.b-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.b-my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.b-my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.b-my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.b-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.b-my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.b-my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.b-my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.b-my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.b-my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.b-my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.b-my-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.b-my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.b-p-0 {
  padding: 0;
}

.b-p-1 {
  padding: 1px;
}

.b-p-2 {
  padding: 2px;
}

.b-p-3 {
  padding: 3px;
}

.b-p-4 {
  padding: 4px;
}

.b-p-5 {
  padding: 5px;
}

.b-p-10 {
  padding: 10px;
}

.b-p-15 {
  padding: 15px;
}

.b-p-20 {
  padding: 20px;
}

.b-p-25 {
  padding: 25px;
}

.b-p-50 {
  padding: 50px;
}

.b-p-75 {
  padding: 75px;
}

.b-p-100 {
  padding: 100px;
}


.b-pt-0 {
  padding-top: 0;
}

.b-pt-1 {
  padding-top: 1px;
}

.b-pt-2 {
  padding-top: 2px;
}

.b-pt-3 {
  padding-top: 3px;
}

.b-pt-4 {
  padding-top: 4px;
}

.b-pt-5 {
  padding-top: 5px;
}

.b-pt-10 {
  padding-top: 10px;
}

.b-pt-15 {
  padding-top: 15px;
}

.b-pt-20 {
  padding-top: 20px;
}

.b-pt-25 {
  padding-top: 25px;
}

.b-pt-50 {
  padding-top: 50px;
}

.b-pt-75 {
  padding-top: 75px;
}

.b-pt-100 {
  padding-top: 100px;
}

.b-pb-0 {
  padding-bottom: 0;
}

.b-pb-1 {
  padding-bottom: 1px;
}

.b-pb-2 {
  padding-bottom: 2px;
}

.b-pb-3 {
  padding-bottom: 3px;
}

.b-pb-4 {
  padding-bottom: 4px;
}

.b-pb-5 {
  padding-bottom: 5px;
}

.b-pb-10 {
  padding-bottom: 10px;
}

.b-pb-15 {
  padding-bottom: 15px;
}

.b-pb-20 {
  padding-bottom: 20px;
}

.b-pb-25 {
  padding-bottom: 25px;
}

.b-pb-50 {
  padding-bottom: 50px;
}

.b-pb-75 {
  padding-bottom: 75px;
}

.b-pb-100 {
  padding-bottom: 100px;
}

.b-pl-0 {
  padding-left: 0;
}

.b-pl-1 {
  padding-left: 1px;
}

.b-pl-2 {
  padding-left: 2px;
}

.b-pl-3 {
  padding-left: 3px;
}

.b-pl-4 {
  padding-left: 4px;
}

.b-pl-5 {
  padding-left: 5px;
}

.b-pl-10 {
  padding-left: 10px;
}

.b-pl-15 {
  padding-left: 15px;
}

.b-pl-20 {
  padding-left: 20px;
}

.b-pl-25 {
  padding-left: 25px;
}

.b-pl-50 {
  padding-left: 50px;
}

.b-pl-75 {
  padding-left: 75px;
}

.b-pl-100 {
  padding-left: 100px;
}

.b-pr-0 {
  padding-right: 0;
}

.b-pr-1 {
  padding-right: 1px;
}

.b-pr-2 {
  padding-right: 2px;
}

.b-pr-3 {
  padding-right: 3px;
}

.b-pr-4 {
  padding-right: 4px;
}

.b-pr-5 {
  padding-right: 5px;
}

.b-pr-10 {
  padding-right: 10px;
}

.b-pr-15 {
  padding-right: 15px;
}

.b-pr-20 {
  padding-right: 20px;
}

.b-pr-25 {
  padding-right: 25px;
}

.b-pr-50 {
  padding-right: 50px;
}

.b-pr-75 {
  padding-right: 75px;
}

.b-pr-100 {
  padding-right: 100px;
}

.b-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.b-px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.b-px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.b-px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.b-px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.b-px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.b-px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.b-px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.b-px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.b-px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.b-px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.b-px-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.b-px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.b-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.b-py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.b-py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.b-py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.b-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.b-py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.b-py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.b-py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.b-py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.b-py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.b-py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.b-py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

