@use 'sass:map';
@import "../../styles/color/color-pallette";
@mixin generateColor($color:$black-base) {
  button  {
    &:focus-within {
      color: $color;
      border-bottom: 2px solid $color;
      .icon-container {
        div {
          div {
            background-color: $color;
          }
        }
      }
    }

    &:hover {
      color: $color;
      .icon-container {
        div {
          div {
            background-color: $color;
          }
        }
      }
    }
  }
}
.bbm-rcl-tabs {
  &--button-group {
    display: flex;
    flex-direction: row;
    background-color: $color-white;

    button {
      padding: 20px;
      justify-content: center;
      font-size: 17.5px;
      font-weight: 500;
      letter-spacing: normal;
      color: $text-color-400;
      font-kerning: none;
      font-family: 'Murecho', sans-serif;
      line-height: 1;
      background-color: $transparent;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $grey-300;

      &:focus-within {
        color: $grey-500;
        border-bottom: 2px solid $grey-500;
      }

      &:hover {
        color: $mid-grey-100;
      }

      .icon-container {
        justify-content: center;
        div {
          div {
            background-color: $black-base;
          }
        }
      }
    }
  }

  &--primary {
    @include generateColor($color:$primary-400);
  }

  &--secondary {
    @include generateColor($color:$secondary-400);
  }

  &--tertiary {
    @include generateColor($color:$tertiary-400);
  }

  &--error {
    @include generateColor($color:$error-400);
  }
  &--grey {
    @include generateColor($color:$grey-600);
  }
  &--orange {
    @include generateColor($color:$orange-400);
  }

  &--warning {
    @include generateColor($color:$warning-400);
  }

  &--success {
    @include generateColor($color:$success-200);
  }

  &--info {
    @include generateColor($color:$info-400);
  }

  .fluid {
    display: flex;
    justify-content: space-around;

    button {
      width: 100%;
    }
  }
}