@use 'sass:map';
@import "../../styles/color/color-pallette";


@mixin base-badge {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  border-radius: 50%;
  color: $color-white;
  background-color: $orange-400;
}

.bbm-rcl-badge {
  @include base-badge;

  &--small {
    padding: 2px 5px;
    font-size: 13px;
  }

  &--medium {
    padding: 5px 8px;
    font-size: 16px;
  }

  &--large {
    padding: 7px 12px;
    font-size: 18px;
  }

  &--x-large {
    padding: 9px 16px;
    font-size: 20px;
    font-weight: 750;
  }

  &--2x-large {
    padding: 11px 20px;
    font-size: 22px;
    font-weight: 750;
  }

  &--3x-large {
    padding: 13px 22px;
    font-size: 26px;
    font-weight: 750;
  }

  &--textColorIsBlack {
    color: $color-black;
  }

  &--primary {
    background-color: $blue-400;
  }

  &--secondary {
    background-color: $mid-grey-100;
  }

  &--tertiary {
    background-color: $color-white;
    color: $color-black;
  }

  &--danger {
    background-color: $red-400;
  }

  &--success {
    background-color: $green-300;
  }

  &--dot {
    padding: 0;
    min-width: 8px;
    width: 8px;
    height: 8px;
  }
  &--icon {
    padding: 4px;
  }

  &--top-left {
    position: absolute;

    &[class*='--overlap'] {
      bottom: calc(100% - 17px);
      right: calc(100% - 12px);
    }

    bottom: calc(100% - 13px);
    right: calc(100% - 8px);

  }

  &--top-right {
    position: absolute;

    &[class*='--overlap'] {
      bottom: calc(100% - 17px);
      left: calc(100% - 12px);
    }

    bottom: calc(100% - 13px);
    left: calc(100% - 8px);

  }

  &--bottom-left {
    position: absolute;

    &[class*='--overlap'] {
      bottom: calc(100% - 17px);
      left: calc(100% - 12px);
    }

    bottom: calc(100% - 13px);
    left: calc(100% - 8px);
  }

  &--bottom-right {
    position: absolute;

    &[class*='--overlap'] {
      top: 3px;
      left: 3px;
    }

    top: 6px;
    left: 6px;
  }
}