@use 'sass:map';
@import "../../styles/color/color-pallette";


@mixin base-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  color: $white-base;
  background-color: $orange-400;
}

.bbm-rcl-badge {
  @include base-badge;

  &--xs {
    width: 10px;
    height: 10px;
  }

  &--s {
    width: 12px;
    height: 12px;
  }

  &--m {
    width: 14px;
    height: 14px;
  }

  &--l {
    width: 16px;
    height: 16px;
  }

  &--primary {
    background-color: $primary-400;
  }

  &--secondary {
    background-color: $secondary-400;
  }

  &--tertiary {
    background-color: $tertiary-400;
  }

  &--error {
    background-color: $error-300;
  }

  &--success {
    background-color: $success-300;
  }

  &--warning {
    background-color: $warning-300;
  }

  &--grey {
    background-color: $grey-600;
  }
  &--orange {
    background-color: $orange-500;
  }
  &--info {
    background-color: $info-300;
  }

  &--dot {
    padding: 0;
    min-width: 8px;
    width: 8px;
    height: 8px;
  }


  &--top-left {
    position: absolute;

    &[class*='--overlap'] {
      bottom: calc(100% - 12px);
      right: calc(100% - 12px);
    }

    bottom: calc(100% - 7px);
    right: calc(100% - 7px);

  }

  &--top-right {
    position: absolute;

    &[class*='--overlap'] {
      bottom: calc(100% - 12px);
      left: calc(100% - 12px);
    }

    bottom: calc(100% - 7px);
    left: calc(100% - 7px);

  }

  &--bottom-left {
    position: absolute;

    &[class*='--overlap'] {
      top: calc(100% - 12px);
      right: calc(100% - 12px);
    }

    top: calc(100% - 7px);
    right: calc(100% - 7px);
  }

  &--bottom-right {
    position: absolute;
    &[class*='--overlap'] {
      top: calc(100% - 12px);
      left: calc(100% - 12px);
    }

    top: calc(100% - 12px);
    left: calc(100% - 12px);
  }
}