@use 'sass:map';
@import "../../styles/color/color-pallette";

.bbm-rcl-clickable-dropdown {
  display: inline-block;
  position: relative;

  button {

    &[class*='--right'] {
      .icon-container {
        flex-direction: row-reverse;
      }
    }

    &[class*='--left'] {
      .icon-container {
        flex-direction: row;
      }
    }

  }

  &--list {
    display: none;
    position: absolute;
    background-color: $white-base;
    z-index: 1;
    border: 1.2px solid $mid-grey-800;
    width: 100%;
    flex-direction: column;
    margin-top: 5%;
    padding: 10% 8%;
    row-gap: 10px;
    margin-left: -7%;

    a {
      font-weight: 500;
      font-size: 15.5px;
      font-family: 'Rubik', sans-serif;
      text-decoration: none;
      color: $grey-700;
    }


    &[class*='--primary'] {
      a:hover {
        color: $primary-400;
      }
    }

    &[class*='--secondary'] {
      a:hover {
        color: $secondary-500;
      }
    }

    &[class*='--tertiary'] {
      a:hover {
        color: $tertiary-400;
      }
    }

    &[class*='--success'] {
      a:hover {
        color: $success-300;
      }
    }

    &[class*='--error'] {
      a:hover {
        color: $error-400;
      }
    }

    &[class*='--warning'] {
      a:hover {
        color: $warning-400;
      }
    }

    &[class*='--info'] {
      a:hover {
        color: $info-300;
      }
    }

    &[class*='--grey'] {
      a:hover {
        color: $grey-600;
      }
    }

    &[class*='--orange'] {
      a:hover {
        color: $orange-400;
      }
    }

    &[class*='--text'] {
      a:hover {
        font-weight: 550;
      }
    }
  }

  &:focus-within {
    .bbm-rcl-clickable-dropdown--list {
      display: flex;
      text-align: center;
    }

    .bbm-rcl-icon {
      transform: rotateX(180deg);
    }
  }
}