@use 'sass:map';
@import "../../styles/color/color-pallette";

.bbm-rcl-clickable-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  button {

    &[class*='--right'] {
      .icon-container {
        flex-direction: row-reverse;
      }
    }

    &[class*='--left'] {
      .icon-container {
        flex-direction: row;
      }
    }

  }

  &--list {
    display: none;
    border: 1.2px solid $mid-grey-800;
    border-radius: 4px;
    width: 100%;
    flex-direction: column;
    margin-top: 5%;
    padding: 10% 8%;
    row-gap: 10px;

    a {
      font-weight: 500;
      font-size: 15.5px;
      font-family: 'Rubik', sans-serif;
      text-decoration: none;
      color: $grey-500;
    }


    &[class*='--primary'] {
      a:hover {
        color: $orange-400;
      }
    }

    &[class*='--secondary'] {
      a:hover {
        color: $blue-400;
      }
    }

    &[class*='--tertiary'] {
      a:hover {
        color: $mid-grey-200;
      }
    }

    &[class*='--success'] {
      a:hover {
        color: $green-300;
      }
    }

    &[class*='--danger'] {
      a:hover {
        color: $red-400;
      }
    }

    &[class*='--text'] {
      a:hover {
        font-weight: 550;
      }
    }
  }

  &:focus-within {
    .bbm-rcl-clickable-dropdown--list {
      display: flex;
      text-align: center;
    }

    .bbm-rcl-icon {
      transform: rotateX(180deg);
    }
  }
}