.display {
  width: 100px;
  height: 100px;
  background-color: #215BF0;
  font-weight: 400;
  border: 1px solid #FFFFFF;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: #FFFFFF;
  padding: 5px;
}
