.b-position-absolute {
  position: absolute;
}

.b-position-relative {
  position: relative;
}

.b-position-center {
  position: center;
}

.b-position-fixed {
  position: fixed;
}

.b-position-inherit {
  position: inherit;
}

.b-position-revert {
  position: revert;
}