.b-border-0 {
  border-radius: 0;
}

.b-border-1 {
  border-radius: 1px;
}

.b-border-2 {
  border-radius: 2px;
}

.b-border-3 {
  border-radius: 3px;
}

.b-border-4 {
  border-radius: 4px;
}

.b-border-5 {
  border-radius: 5px;
}

.b-border-10 {
  border-radius: 10%;
}

.b-border-20 {
  border-radius: 20%;
}

.b-border-25 {
  border-radius: 25%;
}

.b-border-50 {
  border-radius: 50%;
}

.b-border-75 {
  border-radius: 75%;
}

.b-border-100 {
  border-radius: 100%;
}

.b-border-t-0 {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.b-border-t-1 {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.b-border-t-2 {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.b-border-t-3 {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.b-border-t-4 {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.b-border-t-5 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.b-border-t-10 {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.b-border-t-20 {
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.b-border-t-25 {
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
}

.b-border-t-50 {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.b-border-t-75 {
  border-top-right-radius: 75%;
  border-top-left-radius: 75%;
}

.b-border-t-100 {
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

.b-border-b-0 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.b-border-b-1 {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.b-border-b-2 {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.b-border-b-3 {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.b-border-b-4 {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.b-border-b-5 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.b-border-b-10 {
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.b-border-b-20 {
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.b-border-b-25 {
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

.b-border-b-50 {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.b-border-b-75 {
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 75%;
}

.b-border-b-100 {
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.b-border-tl-0 {
  border-top-left-radius: 0;
}

.b-border-tl-1 {
  border-top-left-radius: 1px;
}

.b-border-tl-2 {
  border-top-left-radius: 2px;
}

.b-border-tl-3 {
  border-top-left-radius: 3px;
}

.b-border-tl-4 {
  border-top-left-radius: 4px;
}

.b-border-tl-5 {
  border-top-left-radius: 5px;
}

.b-border-tl-10 {
  border-top-left-radius: 10%;
}

.b-border-tl-20 {
  border-top-left-radius: 20%;
}

.b-border-tl-25 {
  border-top-left-radius: 25%;
}

.b-border-tl-50 {
  border-top-left-radius: 50%;
}

.b-border-tl-75 {
  border-top-left-radius: 75%;
}

.b-border-tl-100 {;
  border-top-left-radius: 100%;
}

.b-border-tr-0 {
  border-top-right-radius: 0;
}

.b-border-tr-1 {
  border-top-right-radius: 1px;
}

.b-border-tr-2 {
  border-top-right-radius: 2px;
}

.b-border-tr-3 {
  border-top-right-radius: 3px;
}

.b-border-tr-4 {
  border-top-right-radius: 4px;
}

.b-border-tr-5 {
  border-top-right-radius: 5px;
}

.b-border-tr-10 {
  border-top-right-radius: 10%;
}

.b-border-tr-20 {
  border-top-right-radius: 20%;
}

.b-border-tr-25 {
  border-top-right-radius: 25%;
}

.b-border-tr-50 {
  border-top-right-radius: 50%;
}

.b-border-tr-75 {
  border-top-right-radius: 75%;
}

.b-border-tr-100 {;
  border-top-right-radius: 100%;
}
.b-border-bl-0 {
  border-bottom-left-radius: 0;
}

.b-border-t-l1 {
  border-top-left-radius: 1px;
}
.b-border-bl-2 {
  border-bottom-left-radius: 2px;
}

.b-border-bl-3 {
  border-bottom-left-radius: 3px;
}

.b-border-bl-4 {
  border-bottom-left-radius: 4px;
}

.b-border-bl-5 {
  border-bottom-left-radius: 5px;
}

.b-border-bl-10 {
  border-bottom-left-radius: 10%;
}

.b-border-bl-20 {
  border-bottom-left-radius: 20%;
}

.b-border-bl-25 {
  border-bottom-left-radius: 25%;
}

.b-border-bl-50 {
  border-bottom-left-radius: 50%;
}

.b-border-bl-75 {
  border-bottom-left-radius: 75%;
}

.b-border-bl-100 {;
  border-bottom-left-radius: 100%;
}

.b-border-br-0 {
  border-bottom-right-radius: 0;
}

.b-border-br-1 {
  border-bottom-right-radius: 1px;
}

.b-border-br-2 {
  border-bottom-right-radius: 2px;
}

.b-border-br-3 {
  border-bottom-right-radius: 3px;
}

.b-border-br-4 {
  border-bottom-right-radius: 4px;
}

.b-border-br-5 {
  border-bottom-right-radius: 5px;
}

.b-border-br-10 {
  border-bottom-right-radius: 10%;
}

.b-border-br-20 {
  border-bottom-right-radius: 20%;
}

.b-border-br-25 {
  border-bottom-right-radius: 25%;
}

.b-border-br-50 {
  border-bottom-right-radius: 50%;
}

.b-border-br-75 {
  border-bottom-right-radius: 75%;
}

.b-border-br-100 {;
  border-bottom-right-radius: 100%;
}