.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  background-color: #252939;
  height: auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
  }
}

.border-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  background-color: #252939;
  height: auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
  }
}

.border-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  background-color: #252939;
  height: auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
  }
}

.border-top-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  background-color: #252939;
  height: auto;

  div {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
  }
}

.border-top-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  background-color: #252939;
  height: auto;

  div {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
  }
}