@use 'sass:map';
@import "../../styles/color/color-pallette";




@mixin base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  border: 1px solid;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

@mixin base-size {
  padding: 6px 12px;
}


@mixin colorGenerator($color: $white-base,
  $background-color: $orange-400,
  $hover-background-color: $orange-500) {

  &[class*='--transparent'] {
    color: $background-color;
    border-color: $transparent;
    background-color: $transparent;

    &:hover {
      color: $background-color;
      border-color: $hover-background-color;
      background-color: $transparent;
    }
  }
  &[class*='--outline'] {
    color: $background-color;
    border-color: $background-color;
    background-color: $transparent;

    &:hover {
      color: $color;
      background-color: $hover-background-color;
    }
  }
  color: $color;
  border-color: $background-color;
  background-color: $background-color;
  &:hover {
    background-color: $hover-background-color;
  }
}

@mixin createIcon($icon) {
  width: 100%;
  height: 100%;
  background: url('../../assets/' + $icon + '.svg') no-repeat center;
  background-size: cover;
}

.bbm-rcl-button {
  @include base-button;
  @include base-size;


  &--primary {
    @include colorGenerator($color: $white-base,
    $background-color: $primary-400,
    $hover-background-color: $primary-500);
  }

  &--secondary {
    @include colorGenerator($color: $white-base,
    $background-color: $secondary-400,
    $hover-background-color: $secondary-500);
  }

  &--tertiary {
    @include colorGenerator($color: $white-base,
    $background-color: $tertiary-400,
    $hover-background-color: $tertiary-500);
  }

  &--gray {
    @include colorGenerator($color: $white-base,
    $background-color: $gray-500,
    $hover-background-color: $gray-600);
  }

  &--orange {
    @include colorGenerator($color: $white-base,
    $background-color: $orange-400,
    $hover-background-color: $orange-500);
  }

  &--text {
    @include colorGenerator($color: $color-black,
    $background-color: $transparent,
    $hover-background-color: $transparent);
  }

  &--error {
    @include colorGenerator($color: $white-base,
    $background-color: $error-300,
    $hover-background-color: $error-400);
  }

  &--success {
    @include colorGenerator($color: $white-base,
    $background-color: $success-300,
    $hover-background-color: $success-400);
  }

  &--warning {
    @include colorGenerator($color: $white-base,
    $background-color: $warning-300,
    $hover-background-color: $warning-400);
  }

  &--info {
    @include colorGenerator($color: $white-base,
    $background-color: $info-200,
    $hover-background-color: $info-300);
  }

  &--xs {
    font-weight: 500;
    font-size: 15px;

    padding: 4px 24px;
    height: 32px;
    min-width: 91px;
  }

  &--s {
    font-weight: 500;
    font-size: 16px;

    padding: 5px 30px;
    height: 34px;
    min-width: 96.5px;
  }

  &--m {
    font-weight: 500;
    font-size: 17px;

    padding: 6px 36px;
    height: 36px;
    min-width: 102px;
  }

  &--l {
    font-weight: 500;
    font-size: 18px;

    padding: 7px 42px;
    height: 38px;
    min-width: 108px;
  }

  &--disabled {
    filter: grayscale(100%);
    cursor: no-drop;
  }

  &--progress {
    filter: grayscale(50%);
    cursor: progress;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7em;
    width: 100%;
    height: 100%;

    .secret-text {
      display: none;
    }

    .icon {
      display:block;
    }
  }

}