@use 'sass:map';
@import "../../styles/color/color-pallette";

$theme-background-colors: (
        'transparent' : transparent,
        'orange-400' : $orange-400,
        'orange-300' : $orange-300,
        'red-400' : $red-400,
        'red-300' : $red-300,
        'green-400' : $green-400,
        'green-300' : $green-300,
        'white': $color-white,
        'black': $color-black,
);

$theme-colors: (
        'white': $color-white,
        'black': $color-black,
        'orange' : $orange-400,
);


@mixin base-button {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;


}

@mixin base-size {
  padding: 6px 12px;
}


@mixin colorGenerator($color: $color-white,
  $background-color: $orange-400,
  $hover-background-color: $orange-300) {

  &[class*='--transparent'] {
    color: $background-color;
    border-color: $transparent;
    background-color: $transparent;

    &:hover {
      color: $background-color;
      border-color: $hover-background-color;
      background-color: $transparent;
    }
  }
  &[class*='--outline'] {
    color: $background-color;
    border-color: $background-color;
    background-color: $transparent;

    &:hover {
      color: $color;
      background-color: $hover-background-color;
    }
  }
  color: $color;
  border-color: $background-color;
  background-color: $background-color;
  &:hover {
    background-color: $hover-background-color;
  }
}

@mixin createIcon($icon) {
  width: 100%;
  height: 100%;
  background: url('../../assets/' + $icon + '.svg') no-repeat center;
  background-size: cover;
}

.bbm-rcl-button {
  @include base-button;
  @include base-size;


  &--primary {
    @include colorGenerator();
  }

  &--secondary {
    @include colorGenerator($color: $color-white,
    $background-color: $blue-400,
    $hover-background-color: $blue-300);
  }

  &--tertiary {
    @include colorGenerator($color: $color-white,
    $background-color: $mid-grey-200,
    $hover-background-color: $mid-grey-100);
  }

  &--text {
    @include colorGenerator($color: $color-black,
    $background-color: $color-white,
    $hover-background-color: $color-white);
  }

  &--danger {
    @include colorGenerator($color: $color-white,
    $background-color: $red-400,
    $hover-background-color: $red-300);
  }

  &--success {
    @include colorGenerator($color: $color-white,
    $background-color: $green-400,
    $hover-background-color: $green-300);
  }

  &--small {
    padding: 4px 10px;
  }

  &--medium {
    padding: 7px 17.5px;
  }

  &--large {
    font-size: 17px;
    padding: 10px 25px;
  }

  &--disabled {
    filter: grayscale(100%);
    cursor: no-drop;
  }

  &--progress {
    filter: grayscale(50%);
    cursor: progress;
  }

  &--action {
    padding: 6px;
    border-radius: 100%;
  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: .7em;
    width: 100%;
    height: 100%;

    .secret-text {
      display: none;
    }

    .icon {
      display: block;
      min-width: 1em;
      min-height: 1em;

    }
  }

}