@use 'sass:map';
@import "../../styles/color/color-pallette";

@mixin base-input {
  outline: none;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 17px;
  font-family: 'RubikVariable', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  padding: 0 12px;
  border: solid 1px $border-color-400;
}

.bbm-rcl-input-container {
  width: 200px;
  height: auto;


  .bbm-rcl-input {
    display: flex;
    align-items: center;
    position: relative;

    label {
      color: $grey-700;
    }

    input {
      &:focus {
        border-color: $grey-700;
      }
    }

    &[class*='--primary'] {
      label {
        color: $primary-500;
      }

      input {
        &:focus {
          border-color: $primary-400;
        }
      }
    }

    &[class*='--secondary'] {
      label {
        color: $secondary-500;
      }

      input {
        &:focus {
          border-color: $secondary-400;
        }
      }
    }

    &[class*='--tertiary'] {
      label {
        color: $tertiary-500;
      }

      input {
        &:focus {
          border-color: $tertiary-400;
        }
      }
    }

    &[class*='--error'] {
      label {
        color: $error-400;
      }

      input {
        &:focus {
          border-color: $error-300;
        }
      }
    }

    &[class*='--success'] {
      label {
        color: $success-400;
      }

      input {
        &:focus {
          border-color: $success-300;
        }
      }
    }

    &[class*='--grey'] {
      label {
        color: $grey-500;
      }

      input {
        &:focus {
          border-color: $grey-400;
        }
      }
    }

    &[class*='--orange'] {
      label {
        color: $orange-500;
      }

      input {
        &:focus {
          border-color: $orange-400;
        }
      }
    }

    &[class*='--warning'] {
      label {
        color: $warning-400;
      }

      input {
        &:focus {
          border-color: $warning-300;
        }
      }
    }

    &[class*='--info'] {
      label {
        color: $info-400;
      }

      input {
        &:focus {
          border-color: $info-300;
        }
      }
    }

    input {
      @include base-input;

      &:not(:focus)::placeholder {
        transition: opacity 230ms ease-in;
        opacity: 0;
      }

      &:focus::placeholder {
        transition: opacity 300ms ease-in;
        opacity: 1;
      }
    }


    label {
      position: absolute;
      font-weight: 500;
      font-size: 17px;
      font-family: 'Rubik', sans-serif;
      color: $text-color-400;
      left: 5%;
      align-items: center;
      padding: 0 3px;
      cursor: text;

    }

    &:focus-within label {
      font-size: 14px;
      font-family: 'Rubik', sans-serif;
      padding: 0 3px;
      left: 5%;
      top: -30%;
      background-color: $white-base;
    }
  }

  .bbm-rcl-input-label-fixed {
    width: 100%;
    height: 100%;

    &[class*='--primary'] {
      label {
        color: $primary-500;
      }

      input {
        &:focus {
          border-color: $primary-400;
        }
      }
    }

    &[class*='--secondary'] {
      label {
        color: $secondary-500;
      }

      input {
        &:focus {
          border-color: $secondary-400;
        }
      }
    }

    &[class*='--tertiary'] {
      label {
        color: $tertiary-500;
      }

      input {
        &:focus {
          border-color: $tertiary-400;
        }
      }
    }

    &[class*='--error'] {
      label {
        color: $error-400;
      }

      input {
        &:focus {
          border-color: $error-300;
        }
      }
    }

    &[class*='--success'] {
      label {
        color: $success-400;
      }

      input {
        &:focus {
          border-color: $success-300;
        }
      }
    }

    &[class*='--grey'] {
      label {
        color: $grey-500;
      }

      input {
        &:focus {
          border-color: $grey-400;
        }
      }
    }

    &[class*='--orange'] {
      label {
        color: $orange-500;
      }

      input {
        &:focus {
          border-color: $orange-400;
        }
      }
    }

    &[class*='--warning'] {
      label {
        color: $warning-400;
      }

      input {
        &:focus {
          border-color: $warning-300;
        }
      }
    }

    input {
      @include base-input;

      &:not(:focus)::placeholder {
        opacity: 1;
      }

    }

    label {
      position: relative;
      top: 0;
      left: 1%;
      font-weight: 500;
      font-size: 12px;
      font-family: 'Rubik', sans-serif;
      color: $color-black;

    }
  }

  .bbm-rcl-input-has-value {
    label {
      font-weight: 400;
      font-size: 12px;
      font-family: 'Rubik', sans-serif;
      padding: 0 3px;
      left: 5%;
      top: -20%;
      transition: top 200ms ease-in, font-size 200ms ease-in;
      background-color: $color-white;

    }
  }


}