@use 'sass:map';
@import "../../styles/color/color-pallette";

@mixin base-input {
  outline: none;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  padding: 0 12px;
  border: solid 1px $border-color-400;
  border-radius: 4px;
  color: $text-color-400;
}

.bbm-rcl-input-container {
  width: 200px;


  .bbm-rcl-input {
    display: flex;
    align-items: center;
    position: relative;

    input {
      @include base-input;

      &:focus {
        border-color: $orange-400;
      }

      &:not(:focus)::placeholder {
        opacity: 0;
      }

      &:focus::placeholder {
        transition: opacity 200ms ease-in;
        opacity: 1;
      }
    }


    label {
      position: absolute;
      font-weight: 400;
      font-size: 13px;
      font-family: 'Rubik', sans-serif;
      color: $text-color-400;
      left: 5%;
      align-items: center;
      padding: 0 3px;
      cursor: text;
      transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    }

    &:focus-within label {
      font-weight: 400;
      font-size: 13px;
      font-family: 'Rubik', sans-serif;
      padding: 0 3px;
      left: 5%;
      top: -25%;
      transition: top 200ms ease-in, font-size 200ms ease-in;
      background-color: $color-white;
    }
  }

  .bbm-rcl-input-label-fixed {
    input {
      @include base-input;

      &:focus {
        border-color: $orange-400;
      }

      &:not(:focus)::placeholder {
        opacity: 1;
      }

    }

    label {
      position: relative;
      top: 0;
      left: 1%;
      font-weight: 500;
      font-size: 12px;
      font-family: 'Rubik', sans-serif;
      color: $color-black;

    }
  }

  .bbm-rcl-input-has-value {
    label {
      font-weight: 400;
      font-size: 12px;
      font-family: 'Rubik', sans-serif;
      padding: 0 3px;
      left: 5%;
      top: -20%;
      transition: top 200ms ease-in, font-size 200ms ease-in;
      background-color: $color-white;

    }
  }


}