.b-none {
  display: none;
}
.b-inline {
  display: inline;
}
.b-inline-block {
  display: inline-block;
}
.b-block {
  display: block;
}
.b-table {
  display: table;
}
.b-table-cell {
  display: table-cell;
}
.b-table-row {
  display: table-row;
}
.b-flex {
  display: flex;
}
.b-inline-flex {
  display: inline-flex;
}