@use 'sass:map';

$theme-background-colors: (
        'primary' : #28a745,
        'secondary' : transparent,
);

@mixin base-button {
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
}

@mixin base-size {
  font-size: 15px;
  padding: 12px 22px;
}

@mixin colorGenerator($color: #ffffff, $background-color: #ff6240) {
  color: $color;
  background-color: $background-color;
}

.bbm-rcl-button {
  @include base-button;
  @include base-size;
  @include colorGenerator();

  &--primary {
    @include colorGenerator();
  }

  &--secondary {
    @include colorGenerator($color: #22272e, $background-color: map.get($theme-background-colors, 'secondary'));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;;
  }

  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }

}