@use 'sass:map';
@import "src/stories/UI/styles/color/main-color.scss";

$theme-background-colors: (
        'primary' : $color-green,
        'secondary' : transparent,
        'orange' : $color-orange,
        'red' : $color-red,
        'green' : $color-green,
);
$theme-colors: (
        'white': $color-white,
        'black': $color-black,
        'orange' : $color-orange,
);

@mixin base-button {
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
}

@mixin base-size {
  font-size: 15px;
  padding: 12px 22px;
}

@mixin colorGenerator($color: map.get($theme-colors, 'white'), $background-color: map.get($theme-background-colors, 'orange')) {
  color: $color;
  background-color: $background-color;
}


.bbm-rcl-button {
  @include base-button;
  @include base-size;

  &--primary {
    @include colorGenerator();
  }

  &--outline {
    @include colorGenerator($color: map.get($theme-colors, 'black'), $background-color: map.get($theme-background-colors, 'secondary'));
  }

  &--danger {
    @include colorGenerator($color: map.get($theme-colors, 'white'), $background-color: map.get($theme-background-colors, 'red'));
  }

  &--success {
    @include colorGenerator($color: map.get($theme-colors, 'white'), $background-color: map.get($theme-background-colors, 'green'));
  }

  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }

  &--disabled {
    filter: grayscale(100%);
    cursor: no-drop;
  }

  &--progress {
    filter: grayscale(50%);
    cursor: progress;
  }

  &--border {
    border: none;
  }

}