.bbm-rcl-checkbox {

  &--xs {
    width: 12px;
    height: 12px;
  }

  &--s {
    width: 16px;
    height: 16px;
  }

  &--m {
    width: 20px;
    height: 20px;
  }

  &--l {
    width: 24px;
    height: 24px;
  }


  &--primary {
    filter: hue-rotate(30deg);
  }

  &--secondary {
    filter: hue-rotate(60deg);
  }

  &--tertiary {
    filter: hue-rotate(90deg);
  }

  &--error {
    filter: hue-rotate(150deg);
  }

  &--success {
    filter: hue-rotate(240deg);
  }
}