@use 'sass:map';
@import "../../styles/color/color-pallette";

.bbm-rcl-spinner {
  display: inline-block;
  position: relative;

  &[class*='--white'] {
    &:after {
      border-color: $white-base transparent $white-base transparent !important;
    }

    div {
      border-color: $white-base transparent transparent transparent !important;
    }
  }


  &[class*='--primary'] {
    &:after {
      border-color: $primary-400 transparent $primary-400 transparent !important;
    }

    div {
      border-color: $primary-400 transparent transparent transparent !important;
    }
  }

  &[class*='--secondary'] {
    &:after {
      border-color: $secondary-400 transparent $secondary-400 transparent !important;

    }

    div {
      border-color: $secondary-400 transparent transparent transparent !important;
    }
  }

  &[class*='--tertiary'] {
    &:after {
      border-color: $tertiary-400 transparent $tertiary-400 transparent !important;

    }

    div {
      border-color: $tertiary-400 transparent transparent transparent !important;
    }
  }

  &[class*='--error'] {
    &:after {
      border-color: $error-300 transparent $error-300 transparent !important;

    }

    div {
      border-color: $error-300 transparent transparent transparent !important;
    }
  }

  &[class*='--grey'] {
    &:after {
      border-color: $grey-600 transparent $grey-600 transparent !important;

    }

    div {
      border-color: $grey-600 transparent transparent transparent !important;
    }
  }


  &[class*='--orange'] {
    &:after {
      border-color: $orange-600 transparent $orange-600 transparent !important;

    }

    div {
      border-color: $orange-600 transparent transparent transparent !important;
    }
  }

  &[class*='--success'] {
    &:after {
      border-color: $success-300 transparent $success-300 transparent !important;

    }

    div {
      border-color: $success-300 transparent transparent transparent !important;
    }
  }

  &[class*='--warning'] {
    &:after {
      border-color: $warning-300 transparent $warning-300 transparent !important;

    }

    div {
      border-color: $warning-300 transparent transparent transparent !important;
    }
  }

  &[class*='--info'] {
    &:after {
      border-color: $info-300 transparent $info-300 transparent !important;

    }

    div {
      border-color: $info-300 transparent transparent transparent !important;
    }
  }

  &[class*='--xs'] {
    width: 10px;
    height: 10px;

    &:after {
      border: 1px solid transparent;
    }

    div {
      border: 1px solid transparent;
    }
  }

  &[class*='--s'] {
    width: 15px;
    height: 15px;

    &:after {
      border: 2px solid transparent;

    }

    div {
      border: 2px solid transparent;
    }
  }

  &[class*='--m'] {
    width: 25px;
    height: 25px;

    &:after {
      border: 3px solid transparent;

    }

    div {
      border: 3px solid transparent;
    }
  }

  &[class*='--l'] {
    width: 35px;
    height: 35px;

    &:after {
      border: 5px solid transparent;

    }

    div {
      border: 5px solid transparent;
    }
  }


  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: $color-black transparent transparent transparent !important;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }

  }

  &--dual-ring {

    &:after {
      content: ' ';
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
      border-color: $color-black transparent $color-black transparent !important;
      animation: bbm-rcl-spinner--dual-ring 1.2s linear infinite;
    }

    @keyframes bbm-rcl-spinner--dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}