.bbm-rcl-google-map {
  width: 400px;
  height: 400px;
  &--xs {
    width: 250px;
    height: 250px;
  }

  &--s {
    width: 350px;
    height: 350px;
  }

  &--m {
    width: 450px;
    height: 450px;
  }

  &--l {
    width: 550px;
    height: 550px;
  }
}