@use 'sass:map';
@import "../../styles/color/color-pallette";

@mixin colorGenerator($color: $primary-400, $background-color: $primary-200) {
  color: $color;
  background-color: $background-color;
}

.bbm-rcl-closable-alert {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  min-height: 50px;
  color: $primary-300;
  background-color: $primary-200;

  &--primary {
    @include colorGenerator($color: $primary-400, $background-color: $primary-200);
  }

  &--secondary {
    @include colorGenerator($color: $secondary-500, $background-color: $secondary-300);

  }

  &--tertiary {
    @include colorGenerator($color: $tertiary-300, $background-color: $tertiary-100);
  }

  &--orange {
    @include colorGenerator($color: $orange-300, $background-color: $orange-100);
  }

  &--grey {
    @include colorGenerator($color: $grey-500, $background-color: $grey-300);
  }

  &--error {
    @include colorGenerator($color: $error-300, $background-color: $error-100);
  }

  &--success {
    @include colorGenerator($color: $success-300, $background-color: $success-100);
  }

  &--warning {
    @include colorGenerator($color: $warning-300, $background-color: $warning-100);
  }

  &--info {
    @include colorGenerator($color: $info-300, $background-color: $info-100);
  }

  p {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: .5%;
  }

  li {
    list-style: none;
  }

  button:hover {
    border: none;
  }

  &--icon-group {
    width: 100%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}