$green-400: #82de94;
$green-300: #46cf76;

$color-white: #ffffff;

$color-black: #22272e;

$red-400: #b70316;
$red-300: #6b0000;

$grey-100: #020203;
$grey-500: #273142;

$orange-400: #ef6114;
$orange-300: #ec490f;

$blue-400: #2565ae;
$blue-300: #0f5298;
$blue-500: #2196F3;

$mid-grey-800: #d5d9e1;
$mid-grey-200: #556888;
$mid-grey-100: #6f849f;

$border-color-400: #d5d9e1;
$border-color-300: #e6e6e6;

$text-color-400: #273142;

$transparent: transparent;