$green-400: #82de94;
$green-300: #46cf76;

$color-white: #ffffff;

$color-black: #22272e;

$red-400: #b70316;
$red-300: #6b0000;

$grey-100: #020203;
$grey-500: #273142;

$orange-400: #ef6114;
$orange-300: #ec490f;

$blue-400: #2565ae;
$blue-300: #0f5298;
$blue-500: #2196F3;

$mid-grey-800: #d5d9e1;
$mid-grey-700: #dddfe9;
$mid-grey-500: #f1f2f7;
$mid-grey-200: #556888;
$mid-grey-100: #556888;
$border-color-400: #d5d9e1;
$border-color-300: #e6e6e6;

$text-color-400: #273142;

$transparent: transparent;

$black-base: #121212;
$black-alpha-100: #121212 30%;
$black-alpha-200: #121212 60%;
$black-alpha-200: #121212 75%;

$white-base: #FFFFFF;
$white-alpha-100: #FFFFFF 30%;
$white-alpha-200: #FFFFFF 60%;
$white-alpha-300: #FFFFFF 75%;

$gray-100: #FCFCFD;
$gray-200: #F2F4F7;
$gray-300: #E4E7EC;
$gray-400: #D0D5DD;
$gray-500: #98A2B3;
$gray-600: #667085;
$gray-700: #101828;

$orange-100: #FFEAD5;
$orange-200: #FDDCAB;
$orange-300: #FEB273;
$orange-400: #FD853A;
$orange-500: #FB6514;
$orange-600: #EC4A0A;
$orange-700: #C4320A;

$primary-100: #F0F5FF;
$primary-200: #9EC8F1;
$primary-300: #3D90E3;
$primary-400: #0354A6;
$primary-500: #064280;

$secondary-100: #F9F5FF;
$secondary-200: #F4EBFF;
$secondary-300: #E9D7FE;
$secondary-400: #D6BBFB;
$secondary-500: #B692F6;

$tertiary-100: #FFB899;
$tertiary-200: #FF9777;
$tertiary-300: #DB6C56;
$tertiary-400: #B7473B;
$tertiary-500: #932825;



$error-100: #FDE1E1;
$error-200: #FCA5A5;
$error-300: #BB251A;
$error-400: #912018;

$warning-100: #FEF0C7;
$warning-200: #FEDF89;
$warning-300: #FEC84B;
$warning-400: #FDB022;

$success-100: #D6F3E9;
$success-200: #42D38B;
$success-300: #039855;
$success-400: #045130;

$info-100: #DCEDFC;
$info-200: #84CAFF;
$info-300: #1465B4;
$info-400: #0F4E8C;
