@use 'sass:map';
@import "../../styles/color/color-pallette";

@mixin createIcon($icon) {
  -webkit-mask: url('../../assets/' + $icon + '.svg') no-repeat center;
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: white;

  &[class*='--primary'] {
    background-color: $primary-400;
  }
  &[class*='--secondary'] {
    background-color: $secondary-400;
  }
  &[class*='--tertiary'] {
    background-color: $tertiary-400;
  }
  &[class*='--error'] {
    background-color: $error-400;
  }
  &[class*='--warning'] {
    background-color: $warning-400;
  }
  &[class*='--success'] {
    background-color: $success-400;
  }
  &[class*='--info'] {
    background-color: $info-400;
  }
  &[class*='--orange'] {
    background-color: $orange-400;
  }
  &[class*='--grey'] {
    background-color: $grey-400;
  }
  &[class*='--white'] {
    background-color: $white-base;
  }
  &[class*='--black'] {
    background-color: $black-base;
  }


}

.bbm-rcl-icon {
  width: fit-content;
  display: block;


  &--xs {
    width: 12px;
    height: 12px;
  }

  &--s {
    width: 14px;
    height: 14px;
  }

  &--m {
    width: 16px;
    height: 16px;
  }

  &--l {
    width: 20px;
    height: 20px;
  }

  &--academy {
    @include createIcon('academy');
  }

  &--account {
    @include createIcon('account');
  }

  &--add_note {
    @include createIcon('add_note');
  }

  &--add_photo {
    @include createIcon('add_photo');
  }

  &--add_product {
    @include createIcon('add_product');
  }

  &--alert {
    @include createIcon('alert');
  }

  &--archive {
    @include createIcon('archive');
  }

  &--arrow-right {
    @include createIcon('arrow-right');
  }

  &--arrow-up {
    @include createIcon('arrow-up');
  }

  &--arrow_down {
    @include createIcon('arrow_down');
  }

  &--left-arrow {
    @include createIcon('left-arrow');
  }

  &--attach {
    @include createIcon('attach');
  }

  &--award {
    @include createIcon('award');
  }

  &--back {
    @include createIcon('back');
  }

  &--back_fill {
    @include createIcon('back_fill');
  }

  &--change {
    @include createIcon('change');
  }

  &--close {
    @include createIcon('close');
  }

  &--exclamation {
    @include createIcon('exclamation');
  }

  &--question {
    @include createIcon('question');
  }


}
