@use 'sass:map';
@import "../../styles/color/color-pallette";

.bbm-rcl-tooltip {

  width: fit-content;


  &--with-icon {

    button {
      min-width: fit-content;
      height: auto !important;
      padding: 3px;

      &:hover {
        border-color: transparent !important;
      }

    }


    &[class*='--left'] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }

    &--text {
      padding-top: 2%;
      cursor: pointer;
      text-align: inherit;
      color: white;
      position: relative;
      font-family: 'RubikVariable', sans-serif;
      font-weight: 500;
      font-size: 16px;


      border-radius: 4px;
      background-color: $black-base;

      display: none;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-color: $black-base transparent;


      }


      &[class*='--xs'] {
        font-size: 12px;
        padding: 4px 8px;

        &:before {
          border-width: 0 7px 7px;
          top: -5px;
          left: 6px;
        }
      }

      &[class*='--s'] {
        font-size: 14px;
        padding: 4px 8px;

        &:before {
          border-width: 0 7px 7px;
          top: -20%;
          left: 6px;
        }
      }

      &[class*='--m'] {
        font-size: 17px;
        padding: 5px 10px;

        &:before {
          border-width: 0 7px 7px;
          top: -5px;
          left: 8px;
        }
      }

      &[class*='--l'] {
        font-size: 17px;
        padding: 5px 10px;

        &:before {
          border-width: 0 7px 7px;
          top: -5px;
          left: 8px;
        }
      }
    }

    &:hover span {
      display: flex;
      position: absolute;
    }
  }
}